In [1]:
import yfinance as yf
import numpy as np
import pandas as pd

In [2]:
ticker_symbols =  ['JNJ', 'DIS', 'MSFT', 'AMZN', 'AAL','^GSPC','MSCI','DJI','^FTSE','NYA']
df = yf.download(ticker_symbols, start='2010-01-01', end='2023-01-01')

[*********************100%***********************]  10 of 10 completed

In [3]:
df.head()

           Adj Close
                 AAL    AMZN        DIS           DJI        JNJ       MSCI
Date
2010-01-04  4.496878  6.6950  27.933920  10584.000000  43.962337  29.048370  \
2010-01-05  5.005957  6.7345  27.864239  10572.000000  43.452572  29.157366
2010-01-06  4.798554  6.6125  27.716164  10573.700195  43.805992  28.367123
2010-01-07  4.939966  6.5000  27.724874  10606.900391  43.493355  30.320034
2010-01-08  4.845691  6.6760  27.768427  10618.200195  43.642876  31.337355

                                                              ...      Volume
                 MSFT          NYA        ^FTSE        ^GSPC  ...         AAL
Date                                                          ...
2010-01-04  23.572369  7326.740234  5500.299805  1132.989990  ...   9837300.0  \
2010-01-05  23.579979  7354.870117  5522.500000  1136.520020  ...  25212000.0
2010-01-06  23.435276  7377.700195  5530.000000  1137.140015  ...  16597900.0
2010-01-07  23.191553  7393.930176  5526.700195  1141.689941  ...  14033400.0
2010-01-08  23.351498  7425.350098  5534.200195  1144.979980  ...  12760000.0


                   AMZN         DIS  DJI         JNJ       MSCI        MSFT
Date
2010-01-04  151998000.0  13700400.0  0.0   9506200.0   470900.0  38409100.0  \
2010-01-05  177038000.0  10307700.0  0.0  10673100.0  1330400.0  49749600.0
2010-01-06  143576000.0  10709500.0  0.0  13171500.0  1901900.0  58182400.0
2010-01-07  220604000.0   8202100.0  0.0  10901600.0  2247900.0  50559700.0
2010-01-08  196610000.0   7657500.0  0.0   7898000.0  1648100.0  51197400.0


            NYA         ^FTSE         ^GSPC
Date
2010-01-04  0.0  7.509420e+08  3.991400e+09
2010-01-05  0.0  1.149301e+09  2.491020e+09
2010-01-06  0.0  9.982953e+08  4.972660e+09
2010-01-07  0.0  1.162934e+09  5.270680e+09
2010-01-08  0.0  1.006421e+09  4.389590e+09

[5 rows x 60 columns]

In [4]:
df1=df['Adj Close']
df1

,AAL,AMZN,DIS,DJI,JNJ,MSCI,MSFT,NYA,^FTSE,^GSPC
Date,,,,,,,,,,
2010-01-04,4.496878,6.695000,27.933920,10584.000000,43.962337,29.048370,23.572369,7326.740234,5500.299805,1132.989990
2010-01-05,5.005957,6.734500,27.864239,10572.000000,43.452572,29.157366,23.579979,7354.870117,5522.500000,1136.520020
2010-01-06,4.798554,6.612500,27.716164,10573.700195,43.805992,28.367123,23.435276,7377.700195,5530.000000,1137.140015
2010-01-07,4.939966,6.500000,27.724874,10606.900391,43.493355,30.320034,23.191553,7393.930176,5526.700195,1141.689941
2010-01-08,4.845691,6.676000,27.768427,10618.200195,43.642876,31.337355,23.351498,7425.350098,5534.200195,1144.979980
...,...,...,...,...,...,...,...,...,...,...
2022-12-23,12.710000,85.250000,88.010002,NaN,176.212601,461.350037,237.614105,NaN,7473.000000,3844.820068
2022-12-27,12.530000,83.040001,86.370003,NaN,176.162949,457.978058,235.852386,NaN,NaN,3829.250000
2022-12-28,12.320000,81.820000,84.169998,NaN,175.398468,452.019958,233.433731,NaN,7497.200195,3783.219971
2022-12-29,12.700000,84.180000,87.180000,NaN,176.292038,469.406891,239.883438,NaN,7512.700195,3849.280029
2022-12-30,12.720000,84.000000,86.879997,NaN,175.388519,462.692841,238.699020,NaN,7451.700195,3839.500000

In [5]:
cum_return = (df1.iloc[-1] - df1.iloc[0]) / df1.iloc[0]
cum_return

AAL       1.828629
AMZN     11.546676
DIS       2.110197
DJI            NaN
JNJ       2.989518
MSCI     14.928358
MSFT      9.126221
NYA            NaN
^FTSE     0.354781
^GSPC     2.388821
dtype: float64

In [6]:
def std_dev(data):
    n = len(data)
    mean = sum(data) / n
    deviations = sum([(x - mean)**2 for x in data])
    variance = deviations / (n - 1)
    s = variance**(1/2)
    return s

In [7]:
def vola(return_series, N, rf):
  return return_series.std() * np.sqrt(N)


N = 255 
rf =0.01 
vola = df1.apply(vola, args=(N,rf,),axis=0)


vola

AAL         228.590478
AMZN        863.565122
DIS         672.443123
DJI      112230.592352
JNJ         647.022797
MSCI       2712.277773
MSFT       1418.955111
NYA       41882.365481
^FTSE     11294.576946
^GSPC     15792.106447
dtype: float64

In [8]:
def sharpe_ratio(return_series, N, rf):
    mean = return_series.mean() * N -rf
    sigma = return_series.std() * np.sqrt(N)
    return mean / sigma

N = 255 
rf =0.01 
sharpes = df1.apply(sharpe_ratio, args=(N,rf,),axis=0)

sharpes

AAL       28.150623
AMZN      17.396249
DIS       34.651701
DJI       44.312317
JNJ       38.607554
MSCI      15.041162
MSFT      17.051572
NYA       65.671391
^FTSE    148.954516
^GSPC     38.777530
dtype: float64

In [9]:
adj_close_prices = df1


def calculate_max_drawdown(prices):
    cumulative_returns = prices / prices.iloc[0]
    previous_peaks = cumulative_returns.cummax()
    drawdowns = cumulative_returns - previous_peaks
    max_drawdown = drawdowns.min()
    return max_drawdown


max_drawdowns = adj_close_prices.apply(calculate_max_drawdown, axis=0)


print(max_drawdowns)

AAL     -10.662670
AMZN    -15.646078
DIS      -4.214947
DJI      -1.035478
JNJ      -0.880630
MSCI    -10.015308
MSFT     -5.331949
NYA      -0.737821
^FTSE    -0.524262
^GSPC    -1.076382
dtype: float64

In [10]:
def calculate_sortino_ratio(prices, risk_free_rate=0.0):
    returns = prices.pct_change().dropna()
    downside_returns = np.where(returns < risk_free_rate, returns, 0)
    downside_deviation = np.std(downside_returns)
    
    expected_return = np.mean(returns)
    sortino_ratio = (expected_return - risk_free_rate) / downside_deviation
    return sortino_ratio


sortino_ratios = adj_close_prices.apply(calculate_sortino_ratio, risk_free_rate=0.02)


print(sortino_ratios)

AAL     -0.919687
AMZN    -1.276125
DIS     -1.566860
DJI     -2.235446
JNJ     -2.143357
MSCI    -1.308717
MSFT    -1.540195
NYA     -2.194221
^FTSE   -2.198004
^GSPC   -2.035338
dtype: float64

In [11]:
ratios = ["cum_return","vola", "sharpes", "sortino-ratios", "max_drawdowns"]

ratio_dict = {
    ratios[0]: cum_return,
    ratios[1]: vola,
    ratios[2]: sharpes,
    ratios[3]: sortino_ratios,
    ratios[4]: max_drawdowns,
}

In [12]:
df_final = pd.DataFrame(ratio_dict)
df_final.index = ['JNJ', 'DIS', 'MSFT', 'AMZN', 'AAL','^GSPC','MSCI','DJI','^FTSE','NYA']

df_final

       cum_return           vola     sharpes  sortino-ratios  max_drawdowns
JNJ      1.828629     228.590478   28.150623       -0.919687     -10.662670
DIS     11.546676     863.565122   17.396249       -1.276125     -15.646078
MSFT     2.110197     672.443123   34.651701       -1.566860      -4.214947
AMZN          NaN  112230.592352   44.312317       -2.235446      -1.035478
AAL      2.989518     647.022797   38.607554       -2.143357      -0.880630
^GSPC   14.928358    2712.277773   15.041162       -1.308717     -10.015308
MSCI     9.126221    1418.955111   17.051572       -1.540195      -5.331949
DJI           NaN   41882.365481   65.671391       -2.194221      -0.737821
^FTSE    0.354781   11294.576946  148.954516       -2.198004      -0.524262
NYA      2.388821   15792.106447   38.777530       -2.035338      -1.076382