In [154]:
import yfinance as yf
import numpy as np
import pandas as pd
import math

ticker1="AAPL"
ticker2="HPQ"
ticker3="GOOGL"
ticker4="MSFT"
ticker5="BA"
Ticker1="^GSPC"
Ticker2="^DJI"
Ticker3="^IXIC"
Ticker4="^N225"
Ticker5="^FTSE"
data1 = yf.download(ticker1, start="2010-01-01", end="2023-05-01")
data2 = yf.download(ticker2, start="2010-01-01", end="2023-05-01")
data3 = yf.download(ticker3, start="2010-01-01", end="2023-05-01")
data4 = yf.download(ticker4, start="2010-01-01", end="2023-05-01")
data5 = yf.download(ticker5, start="2010-01-01", end="2023-05-01")
Data1 = yf.download(Ticker1, start="2010-01-01", end="2023-05-01")
Data2 = yf.download(Ticker2, start="2010-01-01", end="2023-05-01")
Data3 = yf.download(Ticker3, start="2010-01-01", end="2023-05-01")
Data4 = yf.download(Ticker4, start="2010-01-01", end="2023-05-01")
Data5 = yf.download(Ticker5, start="2010-01-01", end="2023-05-01")

data1['Daily Returns']=((data1['Close']-data1['Open'])/(data1['Open']))*100
# Here I have calculated the volatility(std) for all the days
dr1=(data1['Daily Returns'].std())*((252)**0.5)
print(str(dr1)+ " %")
data2['Daily Returns']=((data2['Close']-data2['Open'])/(data2['Open']))*100
# Here I have calculated the volatility(std) for all the days
dr2=(data2['Daily Returns'].std())*((252)**0.5)
print(str(dr2)+ " %")
data3['Daily Returns']=((data3['Close']-data3['Open'])/(data3["Open"]))*100
# Here I have calculated the volatility(std) for all the days
dr3=(data3['Daily Returns'].std())*((252)**0.5)
print(str(dr3)+ " %")
data4['Daily Returns']=((data4['Close']-data4['Open'])/(data4['Open']))*100
# Here I have calculated the volatility(std) for all the days
dr4=(data4['Daily Returns'].std())*((252)**0.5)
print(str(dr4)+" %")
data5['Daily Returns']=((data5['Close']-data5['Open'])/(data5['Open']))*100
# Here I have calculated the volatility(std) for all the days
dr5=(data5['Daily Returns'].std())*((252)**0.5)
print(str(dr5)+" %")

data1['Daily']=data1['Close']-data1['Open']
data2['Daily']=data2['Close']-data2['Open']
data3['Daily']=data3['Close']-data3['Open']
data4['Daily']=data4['Close']-data4['Open']
data5['Daily']=data5['Close']-data5['Open']

# Cumilative Returns
cr1=((data1.iloc[3352,3] - data1.iloc[0,3])/(data1.iloc[0,3]))*100
cr2=((data2.iloc[3352,3] - data2.iloc[0,3])/(data2.iloc[0,3]))*100
cr3=((data3.iloc[3352,3] - data3.iloc[0,3])/(data3.iloc[0,3]))*100
cr4=((data4.iloc[3352,3] - data4.iloc[0,3])/(data4.iloc[0,3]))*100
cr5=((data5.iloc[3352,3] - data5.iloc[0,3])/(data5.iloc[0,3]))*100
print(str(cr1)+" %")
print(str(cr2)+" %")
print(str(cr3)+" %")
print(str(cr4)+" %")
print(str(cr5)+" %")

# To calculate sharpe ratio, we have taken US treasury bond rate as 5.25
sr1=(((((data1['Daily Returns'].mean()/100)+1)**365)-1)*100-5.52)/(data1['Daily Returns'].std()*pow(252,0.5))
sr2=(((((data2['Daily Returns'].mean()/100)+1)**365)-1)*100-5.52)/(data2['Daily Returns'].std()*pow(252,0.5))
sr3=(((((data3['Daily Returns'].mean()/100)+1)**365)-1)*100-5.52)/(data3['Daily Returns'].std()*pow(252,0.5))
sr4=(((((data4['Daily Returns'].mean()/100)+1)**365)-1)*100-5.52)/(data4['Daily Returns'].std()*pow(252,0.5))
sr5=(((((data5['Daily Returns'].mean()/100)+1)**365)-1)*100-5.52)/(data5['Daily Returns'].std()*pow(252,0.5))
print(sr1)
print(sr2)
print(sr3)
print(sr4)
print(sr5)


data1['Neg']=data1['Daily Returns']
data2['Neg']=data2['Daily Returns']
data3['Neg']=data3['Daily Returns']
data4['Neg']=data4['Daily Returns']
data5['Neg']=data5['Daily Returns']
# The daily US treasury bond rate from annual bond rate will be 0.02132
for i in range(3353):
 if(data1.iloc[i,8] - 0.02132 > 0):
        data1.iloc[i,8]=0
 else:
    data1.iloc[i,8]=data1.iloc[i,8]-0.02132
    
for i in range(3353):
 if(data2.iloc[i,8] - 0.02132 > 0):
        data2.iloc[i,8]=0
 else:
    data2.iloc[i,8]=data2.iloc[i,8]-0.02132  
    
for i in range(3353):
 if(data3.iloc[i,8] - 0.02132 > 0):
        data3.iloc[i,8]=0
 else:
    data3.iloc[i,8]=data3.iloc[i,8]-0.02132  
    
for i in range(3353):
 if(data4.iloc[i,8] - 0.02132 > 0):
        data4.iloc[i,8]=0
 else:
    data4.iloc[i,8]=data4.iloc[i,8]-0.02132
    
for i in range(3353):
 if(data5.iloc[i,8] - 0.02132 > 0):
        data5.iloc[i,8]=0
 else:
    data5.iloc[i,8]=data5.iloc[i,8]-0.02132  
    
    
# To calculate Sortiono Ratio
st1=(((((data1['Daily Returns'].mean()/100)+1)**365)-1)*100-5.52)/(data1['Neg'].std()*pow(252,0.5))
st2=(((((data2['Daily Returns'].mean()/100)+1)**365)-1)*100-5.52)/(data2['Neg'].std()*pow(252,0.5))
st3=(((((data3['Daily Returns'].mean()/100)+1)**365)-1)*100-5.52)/(data3['Neg'].std()*pow(252,0.5))
st4=(((((data4['Daily Returns'].mean()/100)+1)**365)-1)*100-5.52)/(data4['Neg'].std()*pow(252,0.5))
st5=(((((data5['Daily Returns'].mean()/100)+1)**365)-1)*100-5.52)/(data5['Neg'].std()*pow(252,0.5))
print(st1)
print(st2)
print(st3)
print(st4)
print(st5)

# Maximum Drawdown
# For Stock 1
x=0
max1=0
for i in range(3353):
    for j in range(i+1,3353):
        if(data1.iloc[i,3]>data1.iloc[j,3] and (data1.iloc[i,3]-data1.iloc[j,3])>max1):
            max1=data1.iloc[i,3]-data1.iloc[j,3]
            x=i        
        elif(data1.iloc[i,3]<=data1.iloc[j,3]):
            i=j
            break
            
print((-max1/data1.iloc[x,3])*100)            
# For Stock 2  
max1=0
x=0
for i in range(3353):
    for j in range(i+1,3353):
        if(data2.iloc[i,3]>data2.iloc[j,3] and (data2.iloc[i,3]-data2.iloc[j,3])>max1):
            max1=data2.iloc[i,3]-data2.iloc[j,3]
            x=i        
        elif(data2.iloc[i,3]<=data2.iloc[j,3]):
            i=j
            break
            
print((-max1/data2.iloc[x,3])*100)    
#For Stock 3
max1=0
x=0
for i in range(3353):
    for j in range(i+1,3353):
        if(data3.iloc[i,3]>data3.iloc[j,3] and (data3.iloc[i,3]-data3.iloc[j,3])>max1):
            max1=data3.iloc[i,3]-data3.iloc[j,3]
            x=i        
        elif(data3.iloc[i,3]<=data3.iloc[j,3]):
            i=j
            break
            
print((-max1/data3.iloc[x,3])*100)    
# For Stock 4
max1=0
x=0
for i in range(3353):
    for j in range(i+1,3353):
        if(data4.iloc[i,3]>data4.iloc[j,3] and (data4.iloc[i,3]-data4.iloc[j,3])>max1):
            max1=data4.iloc[i,3]-data4.iloc[j,3]
            x=i        
        elif(data4.iloc[i,3]<=data4.iloc[j,3]):
            i=j
            break
            
print((-max1/data4.iloc[x,3])*100)    
#For Stock 5
max1=0
x=0
for i in range(3353):
    for j in range(i+1,3353):
        if(data5.iloc[i,3]>data5.iloc[j,3] and (data5.iloc[i,3]-data5.iloc[j,3])>max1):
            max1=data5.iloc[i,3]-data5.iloc[j,3]
            x=i        
        elif(data5.iloc[i,3]<=data5.iloc[j,3]):
            i=j
            break
            
print((-max1/data5.iloc[x,3])*100)

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
22.24384688314914 %
26.297455545713618 %
20.50625531209582 %
20.077485127292093 %
26.958685349085393 %
2120.0083324068864 %
24.731013000324307 %
584.3727785685321 %
892.7625272744684 %
268.0669235600672 %
0.3970989002737325
1.0176584498643932
-0.1375999499103953
0.5809341007664747
-0.19881803527621067
0.6566417714163133
1.7159197138197853
-0.21999635838234863
0.9585819523360644
-0.3106674895784537
-31.311466174254015
-78.52164265505093
-44.32005141440532
-37.5564661050386
-78.4372014005035

In [155]:
# For indices
Data1['Daily Returns']=((Data1['Close']-Data1['Open'])/(Data1['Open']))*100
# Here I have calculated the volatility(std) for all the days
Dr1=Data1['Daily Returns'].std()*pow(252,0.5)
print(str(Dr1)+ " %")
Data2['Daily Returns']=((Data2['Close']-Data2['Open'])/(Data2['Open']))*100
# Here I have calculated the volatility(std) for all the days
Dr2=Data2['Daily Returns'].std()*pow(252,0.5)
print(str(Dr2)+ " %")
Data3['Daily Returns']=((Data3['Close']-Data3['Open'])/(Data3["Open"]))*100
# Here I have calculated the volatility(std) for all the days
Dr3=Data3['Daily Returns'].std()*pow(252,0.5)
print(str(Dr3)+ " %")
Data4['Daily Returns']=((Data4['Close']-Data4['Open'])/(Data4['Open']))*100
# Here I have calculated the volatility(std) for all the days
Dr4=Data4['Daily Returns'].std()*pow(252,0.5)
print(str(Dr4)+" %")
Data5['Daily Returns']=((Data5['Close']-Data5['Open'])/(Data5['Open']))*100
# Here I have calculated the volatility(std) for all the days
Dr5=Data5['Daily Returns'].std()*pow(252,0.5)
print(str(Dr5)+" %")

Data1['Daily']=Data1['Close']-Data1['Open']
Data2['Daily']=Data2['Close']-Data2['Open']
Data3['Daily']=Data3['Close']-Data3['Open']
Data4['Daily']=Data4['Close']-Data4['Open']
Data5['Daily']=Data5['Close']-Data5['Open']


# Cumulative Retun
Cr1=((Data1.iloc[3351,3] - Data1.iloc[0,3])/(Data1.iloc[0,3]))*100
Cr2=((Data2.iloc[3352,3] - Data2.iloc[0,3])/(Data2.iloc[0,3]))*100
Cr3=((Data3.iloc[3352,3] - Data3.iloc[0,3])/(Data3.iloc[0,3]))*100
Cr4=((Data4.iloc[3258,3] - Data4.iloc[0,3])/(Data4.iloc[0,3]))*100
Cr5=((Data5.iloc[3352,3] - Data5.iloc[0,3])/(Data5.iloc[0,3]))*100
print(str(Cr1)+" %")
print(str(Cr2)+" %")
print(str(Cr3)+" %")
print(str(Cr4)+" %")
print(str(Cr5)+" %")


# To calculate sharpe ratio, we have taken the average of 10 years US treasury bond rate as 5.25
Sr1=(((((Data1['Daily Returns'].mean()/100)+1)**365)-1)*100-5.52)/(Data1['Daily Returns'].std()*pow(252,0.5))
Sr2=(((((Data2['Daily Returns'].mean()/100)+1)**365)-1)*100-5.52)/(Data2['Daily Returns'].std()*pow(252,0.5))
Sr3=(((((Data3['Daily Returns'].mean()/100)+1)**365)-1)*100-5.52)/(Data3['Daily Returns'].std()*pow(252,0.5))
Sr4=(((((Data4['Daily Returns'].mean()/100)+1)**365)-1)*100-5.52)/(Data4['Daily Returns'].std()*pow(252,0.5))
Sr5=(((((Data5['Daily Returns'].mean()/100)+1)**365)-1)*100-5.52)/(Data5['Daily Returns'].std()*pow(252,0.5))
print(Sr1)
print(Sr2)
print(Sr3)
print(Sr4)
print(Sr5)


Data1['Neg']=Data1['Daily Returns']
Data2['Neg']=Data2['Daily Returns']
Data3['Neg']=Data3['Daily Returns']
Data4['Neg']=Data4['Daily Returns']
Data5['Neg']=Data5['Daily Returns']

for i in range(3351):
 if(Data1.iloc[i,8] - 0.02132 > 0):
        Data1.iloc[i,8]=0
 else:
    Data1.iloc[i,8]=Data1.iloc[i,8]-0.02132
    
for i in range(3353):
 if(Data2.iloc[i,8] - 0.02132 > 0):
        Data2.iloc[i,8]=0
 else:
    Data2.iloc[i,8]=Data2.iloc[i,8]-0.02132   
    
for i in range(3353):
 if(Data3.iloc[i,8] - 0.02132 > 0):
        Data3.iloc[i,8]=0
 else:
    Data3.iloc[i,8]=Data3.iloc[i,8]-0.02132   
    
for i in range(3259):
 if(Data4.iloc[i,8] - 0.02132 > 0):
        Data4.iloc[i,8]=0
 else:
    Data4.iloc[i,8]=Data4.iloc[i,8]-0.02132
    
for i in range(3353):
 if(Data5.iloc[i,8] - 0.02132 > 0):
        Data5.iloc[i,8]=0
 else:
    Data5.iloc[i,8]=Data5.iloc[i,8]-0.02132    
    
    
    
# To calculate Sortiono Ratio
St1=(((((Data1['Daily Returns'].mean()/100)+1)**365)-1)*100-5.52)/(Data1['Neg'].std()*pow(252,0.5))
St2=(((((Data2['Daily Returns'].mean()/100)+1)**365)-1)*100-5.52)/(Data2['Neg'].std()*pow(252,0.5))
St3=(((((Data3['Daily Returns'].mean()/100)+1)**365)-1)*100-5.52)/(Data3['Neg'].std()*pow(252,0.5))
St4=(((((Data4['Daily Returns'].mean()/100)+1)**365)-1)*100-5.52)/(Data4['Neg'].std()*pow(252,0.5))
St5=(((((Data5['Daily Returns'].mean()/100)+1)**365)-1)*100-5.52)/(Data5['Neg'].std()*pow(252,0.5))
print(St1)
print(St2)
print(St3)
print(St4)
print(St5)


# Maximum Drawdown
# For Indice 1
x=0
max1=0
for i in range(3351):
    for j in range(i+1,3351):
        if(Data1.iloc[i,3]>Data1.iloc[j,3] and (Data1.iloc[i,3]-Data1.iloc[j,3])>max1):
            max1=Data1.iloc[i,3]-Data1.iloc[j,3]
            x=i        
        elif(Data1.iloc[i,3]<=Data1.iloc[j,3]):
            i=j
            break
            
print((-max1/Data1.iloc[x,3])*100)   
# For Indice 2  
max1=0
x=0
for i in range(3353):
    for j in range(i+1,3353):
        if(Data2.iloc[i,3]>Data2.iloc[j,3] and (Data2.iloc[i,3]-Data2.iloc[j,3])>max1):
            max1=Data2.iloc[i,3]-Data2.iloc[j,3]
            x=i        
        elif(Data2.iloc[i,3]<=Data2.iloc[j,3]):
            i=j
            break
            
print((-max1/Data2.iloc[x,3])*100)  
#For Indice 3
max1=0
x=0
for i in range(3353):
    for j in range(i+1,3353):
        if(Data3.iloc[i,3]>Data3.iloc[j,3] and (Data3.iloc[i,3]-Data3.iloc[j,3])>max1):
            max1=Data3.iloc[i,3]-Data3.iloc[j,3]
            x=i        
        elif(Data3.iloc[i,3]<=Data3.iloc[j,3]):
            i=j
            break
            
print((-max1/Data3.iloc[x,3])*100)  
# For Indice 4
max1=0
x=0
for i in range(3259):
    for j in range(i+1,3259):
        if(Data4.iloc[i,3]>Data4.iloc[j,3] and (Data4.iloc[i,3]-Data4.iloc[j,3])>max1):
            max1=Data4.iloc[i,3]-Data4.iloc[j,3]
            x=i        
        elif(Data4.iloc[i,3]<=Data4.iloc[j,3]):
            i=j
            break
            
print((-max1/Data4.iloc[x,3])*100)
#For Indice 5
max1=0
x=0
for i in range(3353):
    for j in range(i+1,3353):
        if(Data5.iloc[i,3]>Data5.iloc[j,3] and (Data5.iloc[i,3]-Data5.iloc[j,3])>max1):
            max1=Data5.iloc[i,3]-Data5.iloc[j,3]
            x=i        
        elif(Data5.iloc[i,3]<=Data5.iloc[j,3]):
            i=j
            break
            
print((-max1/Data5.iloc[x,3])*100)

14.865684203963376 %
14.489920173894719 %
16.034357851986737 %
14.49367984446237 %
16.252416946145253 %
268.0067799721897 %
222.16826482806985 %
429.65147121906807 %
170.83067190748733 %
43.117651434838336 %
0.3603854294821681
0.4051937465774901
0.2613562991569857
-0.598418617157324
0.03290981288567929
0.5545600581526042
0.6299156552443944
0.406530636927068
-0.8999047716003568
0.05077755495692547
-25.4250966192304
-37.086171369594325
-36.395279909120205
-31.79889650850191
-36.60552329617582

In [156]:
data1

,Open,High,Low,Close,Adj Close,Volume,Daily Returns,Daily,Neg
Date,,,,,,,,,
2010-01-04,7.622500,7.660714,7.585000,7.643214,6.496294,493729600,0.271752,0.020714,0.000000
2010-01-05,7.664286,7.699643,7.616071,7.656429,6.507525,601904800,-0.102519,-0.007857,-0.123839
2010-01-06,7.656429,7.686786,7.526786,7.534643,6.404016,552160000,-1.590632,-0.121786,-1.611952
2010-01-07,7.562500,7.571429,7.466071,7.520714,6.392175,477131200,-0.552545,-0.041786,-0.573865
2010-01-08,7.510714,7.571429,7.466429,7.570714,6.434672,447610800,0.798858,0.060000,0.000000
...,...,...,...,...,...,...,...,...,...
2023-04-24,165.000000,165.600006,163.889999,165.330002,165.101639,41949600,0.200001,0.330002,0.000000
2023-04-25,165.190002,166.309998,163.729996,163.770004,163.543793,48714100,-0.859615,-1.419998,-0.880935
2023-04-26,163.059998,165.279999,162.800003,163.759995,163.533798,45498800,0.429288,0.699997,0.000000
2023-04-27,165.190002,168.559998,165.190002,168.410004,168.177383,64902300,1.949271,3.220001,0.000000
2023-04-28,168.490005,169.850006,167.880005,169.679993,169.445618,55209200,0.706266,1.189987,0.000000

In [157]:
data2

,Open,High,Low,Close,Adj Close,Volume,Daily Returns,Daily,Neg
Date,,,,,,,,,
2010-01-04,23.405994,23.841963,23.306086,23.819256,16.851393,27957473,1.765622,0.413261,0.000000
2010-01-05,23.678474,23.950954,23.660309,23.919165,16.922070,28830566,1.016494,0.240690,0.000000
2010-01-06,23.855585,23.946411,23.637602,23.696638,16.764645,25866013,-0.666288,-0.158947,-0.687608
2010-01-07,23.701181,23.882833,23.614897,23.705723,16.771069,22507303,0.019161,0.004541,-0.002159
2010-01-08,23.660309,23.905540,23.628519,23.882833,16.896374,22548260,0.940498,0.222525,0.000000
...,...,...,...,...,...,...,...,...,...
2023-04-24,29.440001,29.719999,29.250000,29.469999,29.469999,4656800,0.101898,0.029999,0.000000
2023-04-25,29.299999,29.610001,29.190001,29.260000,29.260000,5337100,-0.136515,-0.039999,-0.157835
2023-04-26,29.080000,29.209999,28.719999,28.959999,28.959999,5694600,-0.412658,-0.120001,-0.433978
2023-04-27,29.010000,29.730000,29.010000,29.719999,29.719999,6091500,2.447429,0.709999,0.000000
2023-04-28,29.790001,30.070000,29.510000,29.709999,29.709999,6710500,-0.268553,-0.080002,-0.289873

In [158]:
data3

,Open,High,Low,Close,Adj Close,Volume,Daily Returns,Daily,Neg
Date,,,,,,,,,
2010-01-04,15.689439,15.753504,15.621622,15.684434,15.684434,78169752,-0.031900,-0.005005,-0.053220
2010-01-05,15.695195,15.711712,15.554054,15.615365,15.615365,120067812,-0.508628,-0.079830,-0.529948
2010-01-06,15.662162,15.662162,15.174174,15.221722,15.221722,158988852,-2.812129,-0.440440,-2.833449
2010-01-07,15.250250,15.265265,14.831081,14.867367,14.867367,256315428,-2.510668,-0.382883,-2.531988
2010-01-08,14.814815,15.096346,14.742492,15.065566,15.065566,188783028,1.692573,0.250751,0.000000
...,...,...,...,...,...,...,...,...,...
2023-04-24,105.489998,106.629997,104.699997,105.970001,105.970001,23542800,0.455023,0.480003,0.000000
2023-04-25,105.830002,106.690002,103.839996,103.849998,103.849998,46664100,-1.870928,-1.980003,-1.892248
2023-04-26,104.919998,106.349998,102.629997,103.709999,103.709999,53347600,-1.153259,-1.209999,-1.174579
2023-04-27,104.449997,108.370003,103.540001,107.589996,107.589996,50089200,3.006223,3.139999,0.000000
2023-04-28,107.040001,107.349998,105.089996,107.339996,107.339996,36139800,0.280265,0.299995,0.000000

In [159]:
data4

,Open,High,Low,Close,Adj Close,Volume,Daily Returns,Daily,Neg
Date,,,,,,,,,
2010-01-04,30.620001,31.100000,30.590000,30.950001,23.572372,38409100,1.077727,0.330000,0.000000
2010-01-05,30.850000,31.100000,30.639999,30.959999,23.579981,49749600,0.356560,0.109999,0.000000
2010-01-06,30.879999,31.080000,30.520000,30.770000,23.435276,58182400,-0.356213,-0.109999,-0.377533
2010-01-07,30.629999,30.700001,30.190001,30.450001,23.191553,50559700,-0.587654,-0.179998,-0.608974
2010-01-08,30.280001,30.879999,30.240000,30.660000,23.351492,51197400,1.254951,0.379999,0.000000
...,...,...,...,...,...,...,...,...,...
2023-04-24,282.089996,284.950012,278.720001,281.769989,281.155365,26611000,-0.113442,-0.320007,-0.134762
2023-04-25,279.510010,281.600006,275.369995,275.420013,274.819244,45772200,-1.463274,-4.089996,-1.484594
2023-04-26,296.700012,299.570007,292.730011,295.369995,294.725708,64599200,-0.448270,-1.330017,-0.469590
2023-04-27,295.970001,305.200012,295.250000,304.829987,304.165070,46462600,2.993542,8.859985,0.000000
2023-04-28,304.010010,308.929993,303.309998,307.260010,306.589783,36446700,1.069044,3.250000,0.000000

In [160]:
data5

,Open,High,Low,Close,Adj Close,Volume,Daily Returns,Daily,Neg
Date,,,,,,,,,
2010-01-04,55.720001,56.389999,54.799999,56.180000,43.777534,6186700,0.825555,0.459999,0.000000
2010-01-05,56.250000,58.279999,56.000000,58.020000,45.211349,8867800,3.146667,1.770000,0.000000
2010-01-06,58.230000,59.990002,57.880001,59.779999,46.582809,8836500,2.661857,1.549999,0.000000
2010-01-07,59.509998,62.310001,59.020000,62.200001,48.468552,14379100,4.520253,2.690002,0.000000
2010-01-08,61.540001,61.779999,60.860001,61.599998,48.001007,7146600,0.097494,0.059998,0.000000
...,...,...,...,...,...,...,...,...,...
2023-04-24,204.869995,206.500000,203.250000,205.770004,205.770004,3058900,0.439307,0.900009,0.000000
2023-04-25,204.539993,204.940002,201.119995,202.190002,202.190002,4699500,-1.148915,-2.349991,-1.170235
2023-04-26,208.250000,211.699997,202.679993,203.029999,203.029999,9137200,-2.506603,-5.220001,-2.527923
2023-04-27,204.649994,209.089996,203.529999,206.039993,206.039993,5105200,0.679208,1.389999,0.000000
2023-04-28,204.509995,206.949997,202.899994,206.779999,206.779999,3709300,1.109972,2.270004,0.000000

In [161]:
Data1

,Open,High,Low,Close,Adj Close,Volume,Daily Returns,Daily,Neg
Date,,,,,,,,,
2010-01-04,1116.560059,1133.869995,1116.560059,1132.989990,1132.989990,3991400000,1.471478,16.429932,0.000000
2010-01-05,1132.660034,1136.630005,1129.660034,1136.520020,1136.520020,2491020000,0.340789,3.859985,0.000000
2010-01-06,1135.709961,1139.189941,1133.949951,1137.140015,1137.140015,4972660000,0.125917,1.430054,0.000000
2010-01-07,1136.270020,1142.459961,1131.319946,1141.689941,1141.689941,5270680000,0.476992,5.419922,0.000000
2010-01-08,1140.520020,1145.390015,1136.219971,1144.979980,1144.979980,4389590000,0.391046,4.459961,0.000000
...,...,...,...,...,...,...,...,...,...
2023-04-24,4132.069824,4142.410156,4117.770020,4137.040039,4137.040039,3290940000,0.120284,4.970215,0.000000
2023-04-25,4126.430176,4126.430176,4071.379883,4071.629883,4071.629883,3978640000,-1.328032,-54.800293,-1.349352
2023-04-26,4087.780029,4089.669922,4049.350098,4055.989990,4055.989990,3837030000,-0.777685,-31.790039,-0.799005
2023-04-27,4075.290039,4138.240234,4075.290039,4135.350098,4135.350098,3750550000,1.473762,60.060059,0.000000
2023-04-28,4129.629883,4170.060059,4127.180176,4169.479980,4169.479980,4087800000,0.964980,39.850098,0.964980

In [162]:
Data2

,Open,High,Low,Close,Adj Close,Volume,Daily Returns,Daily,Neg
Date,,,,,,,,,
2010-01-04,10430.690430,10604.969727,10430.690430,10583.959961,10583.959961,179780000,1.469409,153.269531,0.000000
2010-01-05,10584.559570,10584.559570,10522.519531,10572.019531,10572.019531,188540000,-0.118475,-12.540039,-0.139795
2010-01-06,10564.719727,10594.990234,10546.549805,10573.679688,10573.679688,186040000,0.084810,8.959961,0.000000
2010-01-07,10571.110352,10612.370117,10505.209961,10606.860352,10606.860352,217390000,0.338186,35.750000,0.000000
2010-01-08,10606.400391,10619.400391,10554.330078,10618.190430,10618.190430,172710000,0.111160,11.790039,0.000000
...,...,...,...,...,...,...,...,...,...
2023-04-24,33805.039062,33891.148438,33726.089844,33875.398438,33875.398438,252020000,0.208133,70.359375,0.000000
2023-04-25,33828.339844,33875.488281,33525.390625,33530.828125,33530.828125,297880000,-0.879475,-297.511719,-0.900795
2023-04-26,33596.339844,33645.828125,33235.851562,33301.871094,33301.871094,321170000,-0.876491,-294.468750,-0.897811
2023-04-27,33381.660156,33859.750000,33374.648438,33826.160156,33826.160156,343240000,1.331569,444.500000,0.000000
2023-04-28,33797.429688,34104.558594,33728.398438,34098.160156,34098.160156,354310000,0.889803,300.730469,0.000000

In [163]:
Data3

,Open,High,Low,Close,Adj Close,Volume,Daily Returns,Daily,Neg
Date,,,,,,,,,
2010-01-04,2294.409912,2311.149902,2294.409912,2308.419922,2308.419922,1931380000,0.610615,14.010010,0.000000
2010-01-05,2307.270020,2313.729980,2295.620117,2308.709961,2308.709961,2367860000,0.062409,1.439941,0.000000
2010-01-06,2307.709961,2314.070068,2295.679932,2301.090088,2301.090088,2253340000,-0.286859,-6.619873,-0.308179
2010-01-07,2298.090088,2301.300049,2285.219971,2300.050049,2300.050049,2270050000,0.085287,1.959961,0.000000
2010-01-08,2292.239990,2317.600098,2290.610107,2317.169922,2317.169922,2145390000,1.087579,24.929932,0.000000
...,...,...,...,...,...,...,...,...,...
2023-04-24,12053.469727,12103.580078,11960.299805,12037.200195,12037.200195,4854050000,-0.134978,-16.269531,-0.156298
2023-04-25,11968.809570,11990.459961,11798.769531,11799.160156,11799.160156,4806020000,-1.417429,-169.649414,-1.438749
2023-04-26,11913.230469,11967.990234,11833.070312,11854.349609,11854.349609,5281970000,-0.494248,-58.880859,-0.515568
2023-04-27,11972.150391,12154.009766,11950.919922,12142.240234,12142.240234,5253710000,1.420713,170.089844,0.000000
2023-04-28,12117.540039,12227.719727,12082.570312,12226.580078,12226.580078,5331380000,0.899853,109.040039,0.000000

In [164]:
Data4

,Open,High,Low,Close,Adj Close,Volume,Daily Returns,Daily,Neg
Date,,,,,,,,,
2010-01-04,10609.339844,10694.490234,10608.139648,10654.790039,10654.790039,104400000,0.428398,45.450195,0.000000
2010-01-05,10719.440430,10791.040039,10655.570312,10681.830078,10681.830078,166200000,-0.350861,-37.610352,-0.372181
2010-01-06,10709.549805,10768.610352,10661.169922,10731.450195,10731.450195,181800000,0.204494,21.900391,0.000000
2010-01-07,10742.750000,10774.000000,10636.669922,10681.660156,10681.660156,182600000,-0.568661,-61.089844,-0.589981
2010-01-08,10743.299805,10816.450195,10677.559570,10798.320312,10798.320312,211800000,0.512138,55.020508,0.000000
...,...,...,...,...,...,...,...,...,...
2023-04-24,28631.779297,28680.650391,28567.240234,28593.519531,28593.519531,50000000,-0.133627,-38.259766,-0.154947
2023-04-25,28697.730469,28806.689453,28609.769531,28620.070312,28620.070312,59300000,-0.270614,-77.660156,-0.291934
2023-04-26,28478.519531,28551.609375,28319.769531,28416.470703,28416.470703,68700000,-0.217879,-62.048828,-0.239199
2023-04-27,28340.589844,28459.730469,28241.669922,28457.679688,28457.679688,73600000,0.413152,117.089844,0.000000
2023-04-28,28705.910156,28879.240234,28499.509766,28856.439453,28856.439453,104000000,0.524384,150.529297,0.000000

In [165]:
Data5

,Open,High,Low,Close,Adj Close,Volume,Daily Returns,Daily,Neg
Date,,,,,,,,,
2010-01-04,5412.899902,5500.299805,5410.799805,5500.299805,5500.299805,750942000,1.614659,87.399902,0.000000
2010-01-05,5500.299805,5536.399902,5480.700195,5522.500000,5522.500000,1149301200,0.403618,22.200195,0.000000
2010-01-06,5522.500000,5536.500000,5497.700195,5530.000000,5530.000000,998295300,0.135808,7.500000,0.000000
2010-01-07,5530.000000,5551.700195,5499.799805,5526.700195,5526.700195,1162933700,-0.059671,-3.299805,-0.080991
2010-01-08,5526.700195,5549.299805,5494.799805,5534.200195,5534.200195,1006420600,0.135705,7.500000,0.000000
...,...,...,...,...,...,...,...,...,...
2023-04-24,7914.100098,7927.100098,7877.600098,7912.200195,7912.200195,724845900,-0.024007,-1.899902,-0.024007
2023-04-25,7912.200195,7912.500000,7863.899902,7891.100098,7891.100098,657900800,-0.266678,-21.100098,-0.266678
2023-04-26,7891.100098,7894.000000,7825.899902,7852.600098,7852.600098,902747300,-0.487891,-38.500000,-0.487891
2023-04-27,7852.600098,7865.700195,7816.799805,7831.600098,7831.600098,669734300,-0.267427,-21.000000,-0.267427
2023-04-28,7831.600098,7870.600098,7791.600098,7870.600098,7870.600098,945273500,0.497983,39.000000,0.497983