In [1]:
import yfinance as yf
import pandas as pd
import numpy as np

In [2]:
tickers =  ['MA', 'JPM', 'AAPL', 'AMZN', 'F','^IXIC','^GSPC','CAC','DAX','BABA']
df = yf.download(tickers, start='2010-01-01', end='2023-01-01')

[*********************100%***********************]  10 of 10 completed

In [3]:
df

             Adj Close
                  AAPL       AMZN       BABA        CAC        DAX          F
Date
2010-01-04    6.496294   6.695000        NaN  14.617017        NaN   6.238595  \
2010-01-05    6.507527   6.734500        NaN  14.024667        NaN   6.651266
2010-01-06    6.404016   6.612500        NaN  14.024667        NaN   6.900080
2010-01-07    6.392176   6.500000        NaN  14.621369        NaN   7.076074
2010-01-08    6.434673   6.676000        NaN  14.495059        NaN   7.094280
...                ...        ...        ...        ...        ...        ...
2022-12-23  131.477127  85.250000  85.650002  40.604786  25.488522  10.554494
2022-12-27  129.652435  83.040001  89.860001  40.448311  25.657782  10.405840
2022-12-28  125.674019  81.820000  87.199997  40.291836  25.379000  10.173566
2022-12-29  129.233658  84.180000  89.129997  40.859055  26.150000  10.721731
2022-12-30  129.552719  84.000000  88.089996  40.771038  25.600000  10.805350

                                                               ...     Volume
                   JPM          MA        ^GSPC         ^IXIC  ...       AAPL
Date                                                           ...
2010-01-04   30.279619   23.960310  1132.989990   2308.419922  ...  493729600  \
2010-01-05   30.866131   23.889402  1136.520020   2308.709961  ...  601904800
2010-01-06   31.035723   23.854876  1137.140015   2301.090088  ...  552160000
2010-01-07   31.650497   23.698994  1141.689941   2300.050049  ...  477131200
2010-01-08   31.572767   23.707394  1144.979980   2317.169922  ...  447610800
...                ...         ...          ...           ...  ...        ...
2022-12-23  129.302628  342.505920  3844.820068  10497.860352  ...   63814900
2022-12-27  129.755707  345.057770  3829.250000  10353.230469  ...   69007800
2022-12-28  130.464859  340.861176  3783.219971  10213.290039  ...   85438400
2022-12-29  131.213409  347.101257  3849.280029  10478.089844  ...   75703700
2022-12-30  132.080154  346.622772  3839.500000  10466.480469  ...   77034200


                 AMZN        BABA    CAC      DAX          F       JPM
Date
2010-01-04  151998000         NaN  12300      NaN   60855800  35460500  \
2010-01-05  177038000         NaN  16500      NaN  215620200  41208300
2010-01-06  143576000         NaN  36150      NaN  200070600  27729000
2010-01-07  220604000         NaN  77850      NaN  130201700  44864700
2010-01-08  196610000         NaN  36600      NaN  130463000  33110100
...               ...         ...    ...      ...        ...       ...
2022-12-23   57433700  17949300.0  18000   1400.0   38200700   5091900
2022-12-27   57284000  22959900.0  51000   8800.0   44837400   5411000
2022-12-28   58228600  16268800.0  26100  18200.0   49375400   8827700
2022-12-29   54995900  12535400.0  24300  13500.0   53550300   6585200
2022-12-30   62401200  11926700.0  49600  30200.0   39232200   9292500


                  MA       ^GSPC       ^IXIC
Date
2010-01-04   9321000  3991400000  1931380000
2010-01-05  12906000  2491020000  2367860000
2010-01-06  10785000  4972660000  2253340000
2010-01-07  11273000  5270680000  2270050000
2010-01-08   8635000  4389590000  2145390000
...              ...         ...         ...
2022-12-23   1914500  2819280000  3544680000
2022-12-27   1637700  3030300000  3827290000
2022-12-28   1854100  3083520000  3842970000
2022-12-29   1459800  3003680000  4154100000
2022-12-30   1617600  2979870000  3959030000

[3272 rows x 60 columns]

In [4]:
df1=yf.download(tickers, start='2010-01-01', end='2023-01-01')['Adj Close']
df1

[*********************100%***********************]  10 of 10 completed

,AAPL,AMZN,BABA,CAC,DAX,F,JPM,MA,^GSPC,^IXIC
Date,,,,,,,,,,
2010-01-04,6.496294,6.695000,NaN,14.617019,NaN,6.238597,30.279610,23.960312,1132.989990,2308.419922
2010-01-05,6.507525,6.734500,NaN,14.024665,NaN,6.651267,30.866142,23.889404,1136.520020,2308.709961
2010-01-06,6.404015,6.612500,NaN,14.024665,NaN,6.900081,31.035717,23.854876,1137.140015,2301.090088
2010-01-07,6.392176,6.500000,NaN,14.621372,NaN,7.076072,31.650499,23.698994,1141.689941,2300.050049
2010-01-08,6.434674,6.676000,NaN,14.495058,NaN,7.094280,31.572763,23.707390,1144.979980,2317.169922
...,...,...,...,...,...,...,...,...,...,...
2022-12-23,131.477127,85.250000,85.650002,40.604786,25.488522,10.554494,129.302628,342.505920,3844.820068,10497.860352
2022-12-27,129.652435,83.040001,89.860001,40.448315,25.657782,10.405840,129.755707,345.057770,3829.250000,10353.230469
2022-12-28,125.674019,81.820000,87.199997,40.291840,25.379000,10.173566,130.464844,340.861176,3783.219971,10213.290039
2022-12-29,129.233658,84.180000,89.129997,40.859055,26.150000,10.721731,131.213409,347.101257,3849.280029,10478.089844
2022-12-30,129.552719,84.000000,88.089996,40.771038,25.600000,10.805350,132.080154,346.622772,3839.500000,10466.480469

In [5]:
cumulative_return = (df1.iloc[-1] - df1.iloc[0])/df1.iloc[0]
cumulative_return

AAPL     18.942556
AMZN     11.546676
BABA           NaN
CAC       1.789285
DAX            NaN
F         0.732016
JPM       3.362016
MA       13.466538
^GSPC     2.388821
^IXIC     3.534045
dtype: float64

In [6]:
cumulative_return*100

AAPL     1894.255635
AMZN     1154.667630
BABA             NaN
CAC       178.928548
DAX              NaN
F          73.201610
JPM       336.201641
MA       1346.653841
^GSPC     238.882076
^IXIC     353.404529
dtype: float64

In [7]:
def calculate_max_drawdown(prices):
    cum_returns = prices / prices.iloc[0]
    previous_peaks = cum_returns.cummax()
    drawdowns = cum_returns - previous_peaks
    max_drawdown = drawdowns.min()
    return max_drawdown

max_drawdowns = df1.apply(calculate_max_drawdown, axis=0)
max_drawdowns

AAPL     -8.429463
AMZN    -15.646078
BABA           NaN
CAC      -1.271180
DAX            NaN
F        -2.019024
JPM      -2.100143
MA       -5.790598
^GSPC    -1.076382
^IXIC    -2.531667
dtype: float64

In [8]:
N = 255 #total trading days in a year
rf=0.01 #risk free rate
def sharpe_ratio(return_series, N, rf):
    mean = return_series.mean()* N -rf
    sigma = return_series.std()* np.sqrt(N)
    return mean/sigma

sharpe = df1.apply(sharpe_ratio, args=(N,rf,),axis=0)
sharpe

AAPL      16.518229
AMZN      17.396249
BABA      39.522138
CAC       40.790421
DAX      110.324718
F         60.060701
JPM       29.230588
MA        20.365749
^GSPC     38.777530
^IXIC     27.862925
dtype: float64

In [9]:
def calculate_sortino_ratio(prices, risk_free_rate=0.0):
    returns = prices.pct_change().dropna()
    downside_returns = np.where(returns < risk_free_rate, returns, 0)
    downside_deviation = np.std(downside_returns)
    expected_return = np.mean(returns)
    sortino_ratio = (expected_return - risk_free_rate) / downside_deviation
    return sortino_ratio

sortino_ratios = df1.apply(calculate_sortino_ratio, risk_free_rate=0.02)
sortino_ratios

AAPL    -1.373505
AMZN    -1.261542
BABA    -1.148142
CAC     -1.366920
DAX     -1.674185
F       -1.274691
JPM     -1.438407
MA      -1.398039
^GSPC   -2.012374
^IXIC   -1.769351
dtype: float64

In [10]:
def vola(return_series, N, rf):
  return return_series.std() * np.sqrt(N)

vola = df1.apply(vola, args=(N,rf,),axis=0)
vola

AAPL       761.470206
AMZN       863.565122
BABA       952.589678
CAC        171.441476
DAX         57.127853
F           38.954157
JPM        617.316815
MA        1888.048970
^GSPC    15792.106447
^IXIC    59322.652622
dtype: float64

In [12]:
ratios = ["cumulative_return","max_drawdowns", "sharpe", "sortino_ratios", "vola"]

ratio_dict = {
    ratios[0]: cumulative_return,
    ratios[1]: max_drawdowns,
    ratios[2]: sharpe,
    ratios[3]: sortino_ratios,
    ratios[4]: vola,
}
df_final = pd.DataFrame(ratio_dict)
df_final.index =['MA', 'JPM', 'AAPL', 'AMZN', 'F','^IXIC','^GSPC','CAC','DAX','BABA']
df_final

,cumulative_return,max_drawdowns,sharpe,sortino_ratios,vola
MA,18.942556,-8.429463,16.518229,-1.373505,761.470206
JPM,11.546676,-15.646078,17.396249,-1.261542,863.565122
AAPL,NaN,NaN,39.522138,-1.148142,952.589678
AMZN,1.789285,-1.271180,40.790421,-1.366920,171.441476
F,NaN,NaN,110.324718,-1.674185,57.127853
^IXIC,0.732016,-2.019024,60.060701,-1.274691,38.954157
^GSPC,3.362016,-2.100143,29.230588,-1.438407,617.316815
CAC,13.466538,-5.790598,20.365749,-1.398039,1888.048970
DAX,2.388821,-1.076382,38.777530,-2.012374,15792.106447
BABA,3.534045,-2.531667,27.862925,-1.769351,59322.652622