In [38]:
from datetime import datetime
import yfinance as yf
import math
import numpy as np

In [39]:
start_date = datetime(2010,1,1)
end_date = datetime(2023,5,1)
data = yf.download("AAPL GOOG MSFT AMZN WMT", start = start_date, end = end_date, auto_adjust=True)[['Close']]
data.head()

[*********************100%***********************]  5 of 5 completed

               Close
                AAPL    AMZN       GOOG       MSFT        WMT
Date
2010-01-04  6.496295  6.6950  15.610239  23.572361  40.013062
2010-01-05  6.507527  6.7345  15.541497  23.579983  39.614635
2010-01-06  6.404016  6.6125  15.149715  23.435274  39.526089
2010-01-07  6.392175  6.5000  14.797037  23.191555  39.548222
2010-01-08  6.434674  6.6760  14.994298  23.351490  39.349018

In [40]:
returns_list = []
for i in range(5):
    returns_list.append(data['Close'].iloc[:,i].pct_change(1)[1:]*100)

N  = len(returns_list)

# Sharpe Ratio
# taking risk free interest as 4% (annual)
sharpe_ratio_list = []
for i in range(5):
    sharpe_ratio_list.append( ( (returns_list[i].mean()*252) - 4 ) /( (returns_list[i].std()) * (math.sqrt(252)) ))

# Sortino Ratio
sort_ratio_list = []
for i in range(5):
    sort_ratio_list.append( ( (returns_list[i].mean()*252) - 4 ) / ((returns_list[i][returns_list[i]<0].std()) *(math.sqrt(252))) )

# Max Drawdown
mdd_list = []
for i in range(5):
    peak_until = data.Close.iloc[:,i].expanding(min_periods = 1).max()
    drawdowns = data.Close.iloc[:,i]/peak_until - 1
    mdd_list.append(drawdowns.min()*100)

# Cumulative returns
c_returns_list = []
for j in range(5):
    c_returns_list.append(((data['Close'].iat[N,j]/data['Close'].iat[0,j]) - 1)*100)

# Volatility
vol_list = []
for i in range(5):
    vol_list.append(np.std(returns_list[i]))

In [41]:
print(sharpe_ratio_list)
print(sort_ratio_list)
print(mdd_list)
print(c_returns_list)
print(vol_list)

[0.8609030717973115, 0.6697087139687373, 0.5223622761063701, 0.715731527579722, 0.40365607104452467]
[1.2023218358080423, 0.9563461314351368, 0.7293842111675491, 1.000555137140879, 0.5331512444462281]
[-43.7971706057674, -56.14526325328263, -44.60184987847865, -37.14847963634629, -36.43517909397722]
[-1.8223584910992408, -2.681106772134445, -4.090943580611617, -2.1970827690212857, -0.03686654748358276]
[1.8013712011201781, 2.089825078764858, 1.7218154097276834, 1.6463880616800013, 1.2237933216960162]

In [42]:
start_date = datetime(2010,1,1)
end_date = datetime(2023,5,1)
data = yf.download("^GSPC ^DJI ^IXIC ^FTSE ^FCHI", start = start_date, end = end_date, auto_adjust=True)[['Close']]
data.head()

[*********************100%***********************]  5 of 5 completed

                   Close
                    ^DJI        ^FCHI        ^FTSE        ^GSPC        ^IXIC
Date
2010-01-04  10583.959961  4013.969971  5500.299805  1132.989990  2308.419922
2010-01-05  10572.019531  4012.909912  5522.500000  1136.520020  2308.709961
2010-01-06  10573.679688  4017.669922  5530.000000  1137.140015  2301.090088
2010-01-07  10606.860352  4024.800049  5526.700195  1141.689941  2300.050049
2010-01-08  10618.190430  4045.139893  5534.200195  1144.979980  2317.169922

In [43]:
returns_list = []
for i in range(5):
    returns_list.append(data['Close'].iloc[:,i].pct_change(1)[1:]*100)

N  = len(returns_list)

# Sharpe Ratio
# taking risk free interest as 4% (annual)
rf = 2
sharpe_ratio_list = []
for i in range(5):
    sharpe_ratio_list.append( ( ((returns_list[i].mean())*252) - rf) /  ( (returns_list[i].std()) * (math.sqrt(252)) )  )

# Sortino Ratio
sort_ratio_list = []
for i in range(5):
    sort_ratio_list.append( ( ((returns_list[i].mean())*252) - rf) / ((returns_list[i][returns_list[i]<0].std()) * (math.sqrt(252))) )

# Max Drawdown
mdd_list = []
for i in range(5):
    peak_until = data.Close.iloc[:,i].expanding(min_periods = 1).max()
    drawdowns = data.Close.iloc[:,i]/peak_until - 1
    mdd_list.append(drawdowns.min()*100)

# Cumulative returns
c_returns_list = []
for j in range(5):
    c_returns_list.append(((data['Close'].iat[N,j]/data['Close'].iat[0,j]) - 1)*100)

# Volatility
vol_list = []
for i in range(5):
    vol_list.append(np.std(returns_list[i]))

In [44]:
print(sharpe_ratio_list)
print(sort_ratio_list)
print(mdd_list)
print(c_returns_list)
print(vol_list)

[0.47263151352892036, 0.22846394429866368, 0.1195212447237091, 0.5184290256747393, 0.6042673113287768]
[0.5638427507893816, 0.2979356579040074, 0.15260686314463967, 0.6265258924722723, 0.7533371637749334]
[-37.086171369594325, -38.55846041250194, -36.60552329617581, -33.92496000265327, -36.395279909120205]
[0.7561467894140694, 0.7254692337022917, 0.6872405925316238, 1.2347849808876932, 0.17284507885957368]
[1.0682774706860618, 1.2790536142521358, 1.0119286040565125, 1.1042747859106263, 1.2811574108862336]