In [1]:
import pandas as pd 
import yfinance as yf

In [2]:
tickers1 = ['^IRX', '^GSPC', '^DJI', '^IXIC', '^NYA', ]
tickers2 = ['RELIANCE.NS', 'TCS.NS', 'INFY.NS', 'HDFCBANK.NS', 'HINDUNILVR.NS']
data1=yf.download(tickers1,start='2010-1-1',end='2023-5-1')
data2=yf.download(tickers2,start='2010-1-1',end='2023-5-1')

[*********************100%***********************]  5 of 5 completed
[*********************100%***********************]  5 of 5 completed

In [3]:
data1

               Adj Close                                                  \
                    ^DJI        ^GSPC   ^IRX         ^IXIC          ^NYA
Date
2010-01-04  10583.959961  1132.989990  0.055   2308.419922   7326.740234
2010-01-05  10572.019531  1136.520020  0.060   2308.709961   7354.870117
2010-01-06  10573.679688  1137.140015  0.045   2301.090088   7377.700195
2010-01-07  10606.860352  1141.689941  0.045   2300.050049   7393.930176
2010-01-08  10618.190430  1144.979980  0.040   2317.169922   7425.350098
...                  ...          ...    ...           ...           ...
2023-04-24  33875.398438  4137.040039  4.873  12037.200195  15606.709961
2023-04-25  33530.828125  4071.629883  4.953  11799.160156  15363.530273
2023-04-26  33301.871094  4055.989990  4.985  11854.349609  15228.580078
2023-04-27  33826.160156  4135.350098  5.000  12142.240234  15431.639648
2023-04-28  34098.160156  4169.479980  4.923  12226.580078  15545.879883

                   Close                                                  ...  \
                    ^DJI        ^GSPC   ^IRX         ^IXIC          ^NYA  ...
Date                                                                      ...
2010-01-04  10583.959961  1132.989990  0.055   2308.419922   7326.740234  ...
2010-01-05  10572.019531  1136.520020  0.060   2308.709961   7354.870117  ...
2010-01-06  10573.679688  1137.140015  0.045   2301.090088   7377.700195  ...
2010-01-07  10606.860352  1141.689941  0.045   2300.050049   7393.930176  ...
2010-01-08  10618.190430  1144.979980  0.040   2317.169922   7425.350098  ...
...                  ...          ...    ...           ...           ...  ...
2023-04-24  33875.398438  4137.040039  4.873  12037.200195  15606.709961  ...
2023-04-25  33530.828125  4071.629883  4.953  11799.160156  15363.530273  ...
2023-04-26  33301.871094  4055.989990  4.985  11854.349609  15228.580078  ...
2023-04-27  33826.160156  4135.350098  5.000  12142.240234  15431.639648  ...
2023-04-28  34098.160156  4169.479980  4.923  12226.580078  15545.879883  ...

                    Open                                                  \
                    ^DJI        ^GSPC   ^IRX         ^IXIC          ^NYA
Date
2010-01-04  10430.690430  1116.560059  0.080   2294.409912   7184.979980
2010-01-05  10584.559570  1132.660034  0.060   2307.270020   7326.740234
2010-01-06  10564.719727  1135.709961  0.060   2307.709961   7354.850098
2010-01-07  10571.110352  1136.270020  0.045   2298.090088   7377.700195
2010-01-08  10606.400391  1140.520020  0.045   2292.239990   7393.930176
...                  ...          ...    ...           ...           ...
2023-04-24  33805.039062  4132.069824  4.945  12053.469727  15578.929688
2023-04-25  33828.339844  4126.430176  4.990  11968.809570  15606.709961
2023-04-26  33596.339844  4087.780029  4.968  11913.230469  15363.530273
2023-04-27  33381.660156  4075.290039  4.973  11972.150391  15228.580078
2023-04-28  33797.429688  4129.629883  4.983  12117.540039  15431.639648

               Volume
                 ^DJI       ^GSPC ^IRX       ^IXIC        ^NYA
Date
2010-01-04  179780000  3991400000  0.0  1931380000  3991400000
2010-01-05  188540000  2491020000  0.0  2367860000  2491020000
2010-01-06  186040000  4972660000  0.0  2253340000  4972660000
2010-01-07  217390000  5270680000  0.0  2270050000  5270680000
2010-01-08  172710000  4389590000  0.0  2145390000  4389590000
...               ...         ...  ...         ...         ...
2023-04-24  252020000  3290940000  0.0  4854050000  3290940000
2023-04-25  297880000  3978640000  0.0  4806020000  3978640000
2023-04-26  321170000  3837030000  0.0  5281970000  3837030000
2023-04-27  343240000  3750550000  0.0  5253710000  3750550000
2023-04-28  354310000  4087800000  0.0  5331380000  4087800000

[3353 rows x 30 columns]

In [4]:
data2

              Adj Close                                                       \
            HDFCBANK.NS HINDUNILVR.NS      INFY.NS  RELIANCE.NS       TCS.NS
Date
2010-01-04   153.989578    208.149353   246.820892   482.812500   289.802216
2010-01-05   154.125015    207.480927   247.647507   480.657623   289.879272
2010-01-06   154.228836    208.660477   244.033890   488.423920   283.324860
2010-01-07   154.630585    208.227982   238.549728   496.526855   275.440277
2010-01-08   154.833710    209.132309   232.801025   495.225037   269.811218
...                 ...           ...          ...          ...          ...
2023-04-24  1669.010010   2499.750000  1226.300049  2358.000000  3174.800049
2023-04-25  1645.282104   2490.449951  1224.900024  2376.050049  3176.000000
2023-04-26  1652.845337   2510.800049  1227.550049  2362.100098  3198.149902
2023-04-27  1661.941040   2468.949951  1246.250000  2377.050049  3187.949951
2023-04-28  1668.466187   2457.300049  1252.750000  2420.500000  3219.250000

                  Close                                                       \
            HDFCBANK.NS HINDUNILVR.NS      INFY.NS  RELIANCE.NS       TCS.NS
Date
2010-01-04   170.570007    264.700012   326.575012   532.700500   375.825012
2010-01-05   170.720001    263.850006   327.668762   530.323059   375.924988
2010-01-06   170.835007    265.350006   322.887512   538.891846   367.424988
2010-01-07   171.279999    264.799988   315.631256   547.832092   357.200012
2010-01-08   171.505005    265.950012   308.024994   546.395691   349.899994
...                 ...           ...          ...          ...          ...
2023-04-24  1688.150024   2499.750000  1226.300049  2358.000000  3174.800049
2023-04-25  1664.150024   2490.449951  1224.900024  2376.050049  3176.000000
2023-04-26  1671.800049   2510.800049  1227.550049  2362.100098  3198.149902
2023-04-27  1681.000000   2468.949951  1246.250000  2377.050049  3187.949951
2023-04-28  1687.599976   2457.300049  1252.750000  2420.500000  3219.250000

            ...         Open                                          \
            ...  HDFCBANK.NS HINDUNILVR.NS      INFY.NS  RELIANCE.NS
Date        ...
2010-01-04  ...   170.000000    264.799988   326.250000   540.427307
2010-01-05  ...   171.000000    265.750000   327.500000   569.551208
2010-01-06  ...   171.399994    264.750000   335.375000   534.879883
2010-01-07  ...   176.839996    265.100006   323.325012   538.891846
2010-01-08  ...   171.199997    265.100006   314.875000   548.797974
...         ...          ...           ...          ...          ...
2023-04-24  ...  1687.000000   2502.000000  1228.000000  2375.000000
2023-04-25  ...  1687.699951   2490.850098  1225.949951  2366.000000
2023-04-26  ...  1660.000000   2490.000000  1228.000000  2379.000000
2023-04-27  ...  1670.500000   2513.949951  1230.000000  2375.000000
2023-04-28  ...  1684.699951   2436.050049  1255.699951  2382.000000

                             Volume                                      \
                 TCS.NS HDFCBANK.NS HINDUNILVR.NS   INFY.NS RELIANCE.NS
Date
2010-01-04   377.399994     3050490        668858   4069264    35372156
2010-01-05   377.500000     8386600       1392726   6895528     9872785
2010-01-06   375.924988     6639840       1682107   6817288    10933743
2010-01-07   367.750000     6123980       2723548  10892600    12090336
2010-01-08   358.000000     7085900       4000986  12649312     6973331
...                 ...         ...           ...       ...         ...
2023-04-24  3151.100098    17837926       1735797   8313774     5970048
2023-04-25  3183.000000    25176534       1701098   6808576     4262471
2023-04-26  3181.000000    13696375       1245903   5680192     3977129
2023-04-27  3185.000000    23895196       2743893   8020704     4230627
2023-04-28  3200.399902    13958136       3761927  10118277     7183342


             TCS.NS
Date
2010-01-04  1963682
2010-01-05  2014488
2010-01-06  3349176
2010-01-07  6474892
2010-01-08  6048178
...             ...
2023-04-24  1640676
2023-04-25  2024090
2023-04-26  2000029
2023-04-27  2434446
2023-04-28  2931312

[3288 rows x 30 columns]

In [5]:
data1.tail()

               Adj Close                                                  \
                    ^DJI        ^GSPC   ^IRX         ^IXIC          ^NYA
Date
2023-04-24  33875.398438  4137.040039  4.873  12037.200195  15606.709961
2023-04-25  33530.828125  4071.629883  4.953  11799.160156  15363.530273
2023-04-26  33301.871094  4055.989990  4.985  11854.349609  15228.580078
2023-04-27  33826.160156  4135.350098  5.000  12142.240234  15431.639648
2023-04-28  34098.160156  4169.479980  4.923  12226.580078  15545.879883

                   Close                                                  ...  \
                    ^DJI        ^GSPC   ^IRX         ^IXIC          ^NYA  ...
Date                                                                      ...
2023-04-24  33875.398438  4137.040039  4.873  12037.200195  15606.709961  ...
2023-04-25  33530.828125  4071.629883  4.953  11799.160156  15363.530273  ...
2023-04-26  33301.871094  4055.989990  4.985  11854.349609  15228.580078  ...
2023-04-27  33826.160156  4135.350098  5.000  12142.240234  15431.639648  ...
2023-04-28  34098.160156  4169.479980  4.923  12226.580078  15545.879883  ...

                    Open                                                  \
                    ^DJI        ^GSPC   ^IRX         ^IXIC          ^NYA
Date
2023-04-24  33805.039062  4132.069824  4.945  12053.469727  15578.929688
2023-04-25  33828.339844  4126.430176  4.990  11968.809570  15606.709961
2023-04-26  33596.339844  4087.780029  4.968  11913.230469  15363.530273
2023-04-27  33381.660156  4075.290039  4.973  11972.150391  15228.580078
2023-04-28  33797.429688  4129.629883  4.983  12117.540039  15431.639648

               Volume
                 ^DJI       ^GSPC ^IRX       ^IXIC        ^NYA
Date
2023-04-24  252020000  3290940000  0.0  4854050000  3290940000
2023-04-25  297880000  3978640000  0.0  4806020000  3978640000
2023-04-26  321170000  3837030000  0.0  5281970000  3837030000
2023-04-27  343240000  3750550000  0.0  5253710000  3750550000
2023-04-28  354310000  4087800000  0.0  5331380000  4087800000

[5 rows x 30 columns]

In [6]:
data1.describe()

          Adj Close                                                        \
               ^DJI        ^GSPC         ^IRX         ^IXIC          ^NYA
count   3353.000000  3353.000000  3350.000000   3353.000000   3353.000000
mean   21068.153912  2440.791431     0.706435   6606.100432  11331.785267
std     7689.849449  1008.466075     1.094230   3754.337331   2780.653792
min     9686.480469  1022.580017    -0.105000   2091.790039   6434.810059
25%    14802.240234  1593.369995     0.040000   3340.620117   9143.549805
50%    18298.880859  2159.040039     0.118000   5213.330078  11000.389648
75%    26664.400391  3004.040039     1.053000   8506.209961  12969.860352
max    36799.648438  4796.560059     5.030000  16057.440430  17353.759766

              Close                                                        \
               ^DJI        ^GSPC         ^IRX         ^IXIC          ^NYA
count   3353.000000  3353.000000  3350.000000   3353.000000   3353.000000
mean   21068.153912  2440.791431     0.706435   6606.100432  11331.785267
std     7689.849449  1008.466075     1.094230   3754.337331   2780.653792
min     9686.480469  1022.580017    -0.105000   2091.790039   6434.810059
25%    14802.240234  1593.369995     0.040000   3340.620117   9143.549805
50%    18298.880859  2159.040039     0.118000   5213.330078  11000.389648
75%    26664.400391  3004.040039     1.053000   8506.209961  12969.860352
max    36799.648438  4796.560059     5.030000  16057.440430  17353.759766

       ...          Open                                          \
       ...          ^DJI        ^GSPC         ^IRX         ^IXIC
count  ...   3353.000000  3353.000000  3350.000000   3353.000000
mean   ...  21063.863418  2440.305218     0.707828   6605.144667
std    ...   7690.737419  1008.452253     1.094155   3754.934250
min    ...   9686.480469  1027.650024    -0.108000   2099.659912
25%    ...  14795.790039  1592.270020     0.040000   3326.379883
50%    ...  18286.869141  2157.879883     0.120000   5216.419922
75%    ...  26691.279297  3004.080078     1.054500   8461.059570
max    ...  36722.601562  4804.509766     5.035000  16120.919922

                           Volume                                      \
               ^NYA          ^DJI         ^GSPC    ^IRX         ^IXIC
count   3353.000000  3.353000e+03  3.353000e+03  3350.0  3.353000e+03
mean   11331.090908  2.347768e+08  3.943333e+09     0.0  2.662614e+09
std     2781.031679  1.351090e+08  9.723338e+08     0.0  1.371432e+09
min     6434.839844  8.410000e+06  1.025000e+09     0.0  2.214300e+08
25%     9121.160156  1.165400e+08  3.350670e+09     0.0  1.795530e+09
50%    10995.679688  2.188300e+08  3.777800e+09     0.0  2.055430e+09
75%    12978.589844  3.244500e+08  4.338490e+09     0.0  3.143270e+09
max    17353.759766  9.159900e+08  1.061781e+10     0.0  1.162119e+10


               ^NYA
count  3.353000e+03
mean   3.938798e+09
std    9.825504e+08
min    0.000000e+00
25%    3.349670e+09
50%    3.775990e+09
75%    4.336410e+09
max    1.061781e+10

[8 rows x 30 columns]

In [7]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 3353 entries, 2010-01-04 to 2023-04-28
Data columns (total 30 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   (Adj Close, ^DJI)   3353 non-null   float64
 1   (Adj Close, ^GSPC)  3353 non-null   float64
 2   (Adj Close, ^IRX)   3350 non-null   float64
 3   (Adj Close, ^IXIC)  3353 non-null   float64
 4   (Adj Close, ^NYA)   3353 non-null   float64
 5   (Close, ^DJI)       3353 non-null   float64
 6   (Close, ^GSPC)      3353 non-null   float64
 7   (Close, ^IRX)       3350 non-null   float64
 8   (Close, ^IXIC)      3353 non-null   float64
 9   (Close, ^NYA)       3353 non-null   float64
 10  (High, ^DJI)        3353 non-null   float64
 11  (High, ^GSPC)       3353 non-null   float64
 12  (High, ^IRX)        3350 non-null   float64
 13  (High, ^IXIC)       3353 non-null   float64
 14  (High, ^NYA)        3353 non-null   float64
 15  (Low, ^DJI)         3353 non-null   float64
 16  (Low, ^GSPC)        3353 non-null   float64
 17  (Low, ^IRX)         3350 non-null   float64
 18  (Low, ^IXIC)        3353 non-null   float64
 19  (Low, ^NYA)         3353 non-null   float64
 20  (Open, ^DJI)        3353 non-null   float64
 21  (Open, ^GSPC)       3353 non-null   float64
 22  (Open, ^IRX)        3350 non-null   float64
 23  (Open, ^IXIC)       3353 non-null   float64
 24  (Open, ^NYA)        3353 non-null   float64
 25  (Volume, ^DJI)      3353 non-null   int64
 26  (Volume, ^GSPC)     3353 non-null   int64
 27  (Volume, ^IRX)      3350 non-null   float64
 28  (Volume, ^IXIC)     3353 non-null   int64
 29  (Volume, ^NYA)      3353 non-null   int64
dtypes: float64(26), int64(4)
memory usage: 812.1 KB

In [8]:
# data=data1
data1=data1['Adj Close']
# data1.columns = [x.split('.')[0] for x in data1.columns]
data1.columns = [x.split('^')[-1] for x in data1.columns]

In [9]:
data2=data2['Adj Close']

In [10]:
data2.columns = [x.split('.')[0] for x in data2.columns]

In [11]:
returns1=data1.pct_change()
returns2=data2.pct_change()

In [12]:
returns1

                 DJI      GSPC       IRX      IXIC       NYA
Date
2010-01-04       NaN       NaN       NaN       NaN       NaN
2010-01-05 -0.001128  0.003116  0.090909  0.000126  0.003839
2010-01-06  0.000157  0.000546 -0.250000 -0.003300  0.003104
2010-01-07  0.003138  0.004001  0.000000 -0.000452  0.002200
2010-01-08  0.001068  0.002882 -0.111111  0.007443  0.004249
...              ...       ...       ...       ...       ...
2023-04-24  0.001965  0.000852 -0.015555 -0.002921  0.001783
2023-04-25 -0.010172 -0.015811  0.016417 -0.019775 -0.015582
2023-04-26 -0.006828 -0.003841  0.006461  0.004677 -0.008784
2023-04-27  0.015744  0.019566  0.003009  0.024286  0.013334
2023-04-28  0.008041  0.008253 -0.015400  0.006946  0.007403

[3353 rows x 5 columns]

In [13]:
returns2

            HDFCBANK  HINDUNILVR      INFY  RELIANCE       TCS
Date
2010-01-04       NaN         NaN       NaN       NaN       NaN
2010-01-05  0.000880   -0.003211  0.003349 -0.004463  0.000266
2010-01-06  0.000674    0.005685 -0.014592  0.016158 -0.022611
2010-01-07  0.002605   -0.002073 -0.022473  0.016590 -0.027829
2010-01-08  0.001314    0.004343 -0.024099 -0.002622 -0.020437
...              ...         ...       ...       ...       ...
2023-04-24  0.008092    0.000721 -0.000855  0.003831  0.004413
2023-04-25 -0.014217   -0.003720 -0.001142  0.007655  0.000378
2023-04-26  0.004597    0.008171  0.002163 -0.005871  0.006974
2023-04-27  0.005503   -0.016668  0.015234  0.006329 -0.003189
2023-04-28  0.003926   -0.004719  0.005216  0.018279  0.009818

[3288 rows x 5 columns]

In [14]:
start_date = '2010-01-01'
end_date = returns1.index[-1].strftime('%Y-%m-%d')

In [15]:
returns1 = returns1.loc[start_date:end_date]
returns2 = returns2.loc[start_date:end_date]

In [16]:
returns1

                 DJI      GSPC       IRX      IXIC       NYA
Date
2010-01-04       NaN       NaN       NaN       NaN       NaN
2010-01-05 -0.001128  0.003116  0.090909  0.000126  0.003839
2010-01-06  0.000157  0.000546 -0.250000 -0.003300  0.003104
2010-01-07  0.003138  0.004001  0.000000 -0.000452  0.002200
2010-01-08  0.001068  0.002882 -0.111111  0.007443  0.004249
...              ...       ...       ...       ...       ...
2023-04-24  0.001965  0.000852 -0.015555 -0.002921  0.001783
2023-04-25 -0.010172 -0.015811  0.016417 -0.019775 -0.015582
2023-04-26 -0.006828 -0.003841  0.006461  0.004677 -0.008784
2023-04-27  0.015744  0.019566  0.003009  0.024286  0.013334
2023-04-28  0.008041  0.008253 -0.015400  0.006946  0.007403

[3353 rows x 5 columns]

In [17]:
returns2

            HDFCBANK  HINDUNILVR      INFY  RELIANCE       TCS
Date
2010-01-04       NaN         NaN       NaN       NaN       NaN
2010-01-05  0.000880   -0.003211  0.003349 -0.004463  0.000266
2010-01-06  0.000674    0.005685 -0.014592  0.016158 -0.022611
2010-01-07  0.002605   -0.002073 -0.022473  0.016590 -0.027829
2010-01-08  0.001314    0.004343 -0.024099 -0.002622 -0.020437
...              ...         ...       ...       ...       ...
2023-04-24  0.008092    0.000721 -0.000855  0.003831  0.004413
2023-04-25 -0.014217   -0.003720 -0.001142  0.007655  0.000378
2023-04-26  0.004597    0.008171  0.002163 -0.005871  0.006974
2023-04-27  0.005503   -0.016668  0.015234  0.006329 -0.003189
2023-04-28  0.003926   -0.004719  0.005216  0.018279  0.009818

[3288 rows x 5 columns]

In [18]:
cummulative_return1=(1+returns1).cumprod()-1
cummulative_return2=(1+returns2).cumprod()-1

In [19]:
cumm1=cummulative_return1*100
cumm2=cummulative_return2*100

In [20]:
cummulative_return1

                 DJI      GSPC        IRX      IXIC       NYA
Date
2010-01-04       NaN       NaN        NaN       NaN       NaN
2010-01-05 -0.001128  0.003116   0.090909  0.000126  0.003839
2010-01-06 -0.000971  0.003663  -0.181818 -0.003175  0.006955
2010-01-07  0.002164  0.007679  -0.181818 -0.003626  0.009171
2010-01-08  0.003234  0.010583  -0.272727  0.003790  0.013459
...              ...       ...        ...       ...       ...
2023-04-24  2.200636  2.651436  87.600003  4.214476  1.130103
2023-04-25  2.168080  2.593703  89.054547  4.111358  1.096912
2023-04-26  2.146447  2.579899  89.636367  4.135266  1.078493
2023-04-27  2.195983  2.649944  89.909091  4.259979  1.106208
2023-04-28  2.221683  2.680068  88.509089  4.296515  1.121800

[3353 rows x 5 columns]

In [21]:
cummulative_return2

            HDFCBANK  HINDUNILVR      INFY  RELIANCE        TCS
Date
2010-01-04       NaN         NaN       NaN       NaN        NaN
2010-01-05  0.000880   -0.003211  0.003349 -0.004463   0.000266
2010-01-06  0.001554    0.002456 -0.011292  0.011622  -0.022351
2010-01-07  0.004163    0.000378 -0.033511  0.028405  -0.049558
2010-01-08  0.005482    0.004722 -0.056802  0.025709  -0.068982
...              ...         ...       ...       ...        ...
2023-04-24  9.838461   11.009406  3.968380  3.883883   9.955058
2023-04-25  9.684373   10.964726  3.962708  3.921269   9.959198
2023-04-26  9.733488   11.062493  3.973445  3.892376  10.035630
2023-04-27  9.792555   10.861435  4.049208  3.923340  10.000433
2023-04-28  9.834929   10.805466  4.075543  4.013333  10.108438

[3288 rows x 5 columns]

In [22]:
cummulative_return1.columns

Index(['DJI', 'GSPC', 'IRX', 'IXIC', 'NYA'], dtype='object')

In [23]:
cummulative_return2.columns

Index(['HDFCBANK', 'HINDUNILVR', 'INFY', 'RELIANCE', 'TCS'], dtype='object')

    CUMMULATIVE RETURNS in %

In [24]:
a=cumm1.iloc[-1]
a

DJI      222.168265
GSPC     268.006780
IRX     8850.908883
IXIC     429.651471
NYA      112.180033
Name: 2023-04-28 00:00:00, dtype: float64

In [25]:
b=cumm2.iloc[-1]
b

HDFCBANK       983.492926
HINDUNILVR    1080.546571
INFY           407.554279
RELIANCE       401.333333
TCS           1010.843819
Name: 2023-04-28 00:00:00, dtype: float64

    VOLATILITY

In [26]:
d_vol1= cummulative_return1.std()
d_vol2= cummulative_return2.std()

In [27]:
import math
total_vol1= d_vol1*math.sqrt(data1.shape[0])
total_vol2= d_vol2*math.sqrt(data2.shape[0])

In [28]:
total_vol1

DJI       42.065953
GSPC      51.535653
IRX     1151.704522
IXIC      94.170552
NYA       21.972690
dtype: float64

In [29]:
total_vol2

HDFCBANK      173.968147
HINDUNILVR    218.004061
INFY          104.800069
RELIANCE       89.879821
TCS           196.968466
dtype: float64

    SHARPE RATIO

In [30]:
risk_free_return=0
sharpe1 = (cummulative_return1.iloc[-1]*cummulative_return1.shape[0]/252-risk_free_return)/(cummulative_return1.std()*math.sqrt( 252))

sharpe1

DJI     2.563308
GSPC    2.523989
IRX     3.729893
IXIC    2.214373
NYA     2.477889
dtype: float64

In [31]:
sharpe2 = (cummulative_return2.iloc[-1]*cummulative_return2.shape[0]/252-risk_free_return)/(cummulative_return2.std()*math.sqrt( 252))

sharpe2

HDFCBANK      2.664394
HINDUNILVR    2.336016
INFY          1.832824
RELIANCE      2.104456
TCS           2.418713
dtype: float64

    SORTIONO RATIO

In [32]:
down_cumm1=cummulative_return1[cummulative_return1<0.0]
down_cumm2=cummulative_return2[cummulative_return2<0.0]

In [33]:
risk_free_return=0
sortiono1 = (cummulative_return1.iloc[-1]*cummulative_return1.shape[0]/252-risk_free_return)/(down_cumm1.std()*math.sqrt( 252))/100

sortiono1

DJI     0.951329
GSPC    1.004240
IRX     2.501651
IXIC    1.454311
NYA     0.322953
dtype: float64

In [34]:
sortiono2 = ((cummulative_return2.iloc[-1]/252)*cummulative_return2.shape[0]-risk_free_return)/(down_cumm2.std()*math.sqrt( 252))/100

sortiono2

HDFCBANK      2.817335
HINDUNILVR    1.902427
INFY          0.972413
RELIANCE      0.357237
TCS           4.606974
dtype: float64

    MAX DRAWDOWN

In [35]:
for column in data1.columns[0:]:
    Max = data1[column].cummax()
    Daily_Drawdown = data1[column]/Max - 1.0
    Max_Daily_Drawdown = Daily_Drawdown.cummin()
    k=Max_Daily_Drawdown.mean()*100
    print(column + " : ", '{:.6f}%'.format(k))

DJI :  -21.142935%
GSPC :  -22.129388%
IRX :  -96.040547%
IXIC :  -21.698150%
NYA :  -26.288548%

In [37]:
for column in data2.columns[0:]:
    Max = data2[column].cummax()
    Daily_Drawdown = data2[column]/Max - 1.0
    Max_Daily_Drawdown = Daily_Drawdown.cummin()
    k=Max_Daily_Drawdown.mean()*100
    print(column + " : ", '{:.6f}%'.format(k))

HDFCBANK :  -25.314559%
HINDUNILVR :  -23.281018%
INFY :  -34.923267%
RELIANCE :  -37.735975%
TCS :  -24.455849%